In [16]:
from pymongo import MongoClient
from pymongo import GEOSPHERE
import pandas as pd
import requests
import json
from dotenv import load_dotenv
import os

In [17]:
client = MongoClient("localhost:27017")
db = client.get_database("Ironhack")
collection = db.get_collection("companies")

### Filtrar ciudades

Despu√©s de habernos conoctado a la base de Mongo, vamos a realizar querys para filtrar unos ciertos requisitos que requiere la empresa. Para ello, he elegido 3 ciudades de la base de datos: Madrid, actual campeona de Europa con el equipo Mad Lions, San Francisco y Nueva York, siendo estas grandes representantes del sector en el continente americano

In [30]:
proj = {"_id": 0, "name": 1, "offices.city":1, "number_of_employees": 1, "offices.latitude" : 1, "offices.longitude" : 1}
cond1 = {"category_code": "games_video"}
cond2 = {"$or": [{"offices.city": "Madrid"}, {"offices.city":"San Francisco"}, {"offices.city": "New York"}]}
cond3 = {"number_of_employees": {"$lt":120, "$gt":20}}
companies = list(collection.find({"$and": [cond1,cond2,cond3]}, proj))
df = pd.DataFrame(companies)
df

,name,number_of_employees,offices
0,Kyte,40,"[{'city': 'San Francisco', 'latitude': 37.7884..."
1,Pando Networks,23,"[{'city': 'New York', 'latitude': 40.722655, '..."
2,hi5,100,"[{'city': 'San Francisco', 'latitude': 37.7886..."
3,Curse,58,"[{'city': 'San Francisco', 'latitude': 37.7870..."
4,OMGPOP,50,"[{'city': 'New York', 'latitude': 40.723384, '..."
5,Crunchyroll,50,"[{'city': 'San Francisco', 'latitude': 37.7812..."
6,Rupture,25,"[{'city': 'San Francisco', 'latitude': 37.7838..."
7,Zynga,115,"[{'city': 'San Francisco', 'latitude': 37.7651..."
8,GoCrossCampus,25,"[{'city': 'New York', 'latitude': None, 'longi..."
9,Cellufun,30,"[{'city': 'New York', 'latitude': 40.73993, 'l..."
10,eRepublik,30,"[{'city': 'Madrid', 'latitude': 40.43094, 'lon..."
11,Serious Business,22,"[{'city': 'San Francisco', 'latitude': 37.7893..."
12,Citizen Sports,27,"[{'city': 'San Francisco', 'latitude': 37.7775..."
13,VivoCom,22,"[{'city': 'Madrid', 'latitude': None, 'longitu..."
14,iWin,103,"[{'city': 'San Francisco', 'latitude': 37.7816..."
15,Cyloop,50,"[{'city': 'Miami', 'latitude': 25.787252, 'lon..."
16,MindSmack,54,"[{'city': 'New York', 'latitude': 40.758492, '..."
17,Major League Gaming,45,"[{'city': 'New York', 'latitude': 40.752672, '..."
18,Culture Unplugged Studios,45,"[{'city': 'Pune', 'latitude': None, 'longitude..."
19,Saavn,25,"[{'city': 'New York', 'latitude': 40.743877, '..."
20,[212]Media,75,"[{'city': 'New York', 'latitude': 40.743877, '..."
21,Yoostar,40,"[{'city': 'New York', 'latitude': 40.756054, '..."
22,GameGround,25,"[{'city': 'New York', 'latitude': 40.756054, '..."
23,Blip,47,"[{'city': 'New York', 'latitude': None, 'longi..."
24,Exent,100,"[{'city': 'New York', 'latitude': 40.7523796, ..."
25,G5 Entertainment,107,"[{'city': 'Kharkov', 'latitude': None, 'longit..."